In [1]:
import numpy as np
import pandas as pd

In [2]:
players = pd.read_csv("players_22.csv")

/var/folders/87/pq1rm8cn0xv15_gbm6x4xyxm0000gn/T/ipykernel_8699/2061566770.py:1: DtypeWarning: Columns (25,108) have mixed types. Specify dtype option on import or set low_memory=False.
  players = pd.read_csv("players_22.csv")

In [3]:
players

,sofifa_id,player_url,short_name,long_name,player_positions,overall,potential,value_eur,wage_eur,age,...,lcb,cb,rcb,rb,gk,player_face_url,club_logo_url,club_flag_url,nation_logo_url,nation_flag_url
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,"RW, ST, CF",93,93,78000000.0,320000.0,34,...,50+3,50+3,50+3,61+3,19+3,https://cdn.sofifa.net/players/158/023/22_120.png,https://cdn.sofifa.net/teams/73/60.png,https://cdn.sofifa.net/flags/fr.png,https://cdn.sofifa.net/teams/1369/60.png,https://cdn.sofifa.net/flags/ar.png
1,188545,https://sofifa.com/player/188545/robert-lewand...,R. Lewandowski,Robert Lewandowski,ST,92,92,119500000.0,270000.0,32,...,60+3,60+3,60+3,61+3,19+3,https://cdn.sofifa.net/players/188/545/22_120.png,https://cdn.sofifa.net/teams/21/60.png,https://cdn.sofifa.net/flags/de.png,https://cdn.sofifa.net/teams/1353/60.png,https://cdn.sofifa.net/flags/pl.png
2,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,"ST, LW",91,91,45000000.0,270000.0,36,...,53+3,53+3,53+3,60+3,20+3,https://cdn.sofifa.net/players/020/801/22_120.png,https://cdn.sofifa.net/teams/11/60.png,https://cdn.sofifa.net/flags/gb-eng.png,https://cdn.sofifa.net/teams/1354/60.png,https://cdn.sofifa.net/flags/pt.png
3,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Júnior,"LW, CAM",91,91,129000000.0,270000.0,29,...,50+3,50+3,50+3,62+3,20+3,https://cdn.sofifa.net/players/190/871/22_120.png,https://cdn.sofifa.net/teams/73/60.png,https://cdn.sofifa.net/flags/fr.png,NaN,https://cdn.sofifa.net/flags/br.png
4,192985,https://sofifa.com/player/192985/kevin-de-bruy...,K. De Bruyne,Kevin De Bruyne,"CM, CAM",91,91,125500000.0,350000.0,30,...,69+3,69+3,69+3,75+3,21+3,https://cdn.sofifa.net/players/192/985/22_120.png,https://cdn.sofifa.net/teams/10/60.png,https://cdn.sofifa.net/flags/gb-eng.png,https://cdn.sofifa.net/teams/1325/60.png,https://cdn.sofifa.net/flags/be.png
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19234,261962,https://sofifa.com/player/261962/defu-song/220002,Song Defu,宋德福,CDM,47,52,70000.0,1000.0,22,...,46+2,46+2,46+2,48+2,15+2,https://cdn.sofifa.net/players/261/962/22_120.png,https://cdn.sofifa.net/teams/112541/60.png,https://cdn.sofifa.net/flags/cn.png,NaN,https://cdn.sofifa.net/flags/cn.png
19235,262040,https://sofifa.com/player/262040/caoimhin-port...,C. Porter,Caoimhin Porter,CM,47,59,110000.0,500.0,19,...,44+2,44+2,44+2,48+2,14+2,https://cdn.sofifa.net/players/262/040/22_120.png,https://cdn.sofifa.net/teams/445/60.png,https://cdn.sofifa.net/flags/ie.png,NaN,https://cdn.sofifa.net/flags/ie.png
19236,262760,https://sofifa.com/player/262760/nathan-logue/...,N. Logue,Nathan Logue-Cunningham,CM,47,55,100000.0,500.0,21,...,45+2,45+2,45+2,47+2,12+2,https://cdn.sofifa.net/players/262/760/22_120.png,https://cdn.sofifa.net/teams/111131/60.png,https://cdn.sofifa.net/flags/ie.png,NaN,https://cdn.sofifa.net/flags/ie.png
19237,262820,https://sofifa.com/player/262820/luke-rudden/2...,L. Rudden,Luke Rudden,ST,47,60,110000.0,500.0,19,...,26+2,26+2,26+2,32+2,15+2,https://cdn.sofifa.net/players/262/820/22_120.png,https://cdn.sofifa.net/teams/111131/60.png,https://cdn.sofifa.net/flags/ie.png,NaN,https://cdn.sofifa.net/flags/ie.png
19238,264540,https://sofifa.com/player/264540/emanuel-lalch...,E. Lalchhanchhuaha,Emanuel Lalchhanchhuaha,CAM,47,60,110000.0,500.0,19,...,41+2,41+2,41+2,45+2,16+2,https://cdn.sofifa.net/players/264/540/22_120.png,https://cdn.sofifa.net/teams/113040/60.png,https://cdn.sofifa.net/flags/in.png,NaN,https://cdn.sofifa.net/flags/in.png

In [4]:
features = ["overall", "potential", "value_eur", "wage_eur", "age"]

In [5]:
players = players.dropna(subset = features)

In [6]:
data = players[features].copy()

In [7]:
data

       overall  potential    value_eur  wage_eur  age
0           93         93   78000000.0  320000.0   34
1           92         92  119500000.0  270000.0   32
2           91         91   45000000.0  270000.0   36
3           91         91  129000000.0  270000.0   29
4           91         91  125500000.0  350000.0   30
...        ...        ...          ...       ...  ...
19234       47         52      70000.0    1000.0   22
19235       47         59     110000.0     500.0   19
19236       47         55     100000.0     500.0   21
19237       47         60     110000.0     500.0   19
19238       47         60     110000.0     500.0   19

[19165 rows x 5 columns]

In [8]:
data = (data - data.min()) / (data.max() - data.min()) * 9 + 1

In [9]:
data.describe()

            overall     potential     value_eur      wage_eur           age
count  19165.000000  19165.000000  19165.000000  19165.000000  19165.000000
mean       4.670472      5.319998      1.131826      1.219443      4.063345
std        1.346635      1.191076      0.353229      0.501528      1.575838
min        1.000000      1.000000      1.000000      1.000000      1.000000
25%        3.739130      4.521739      1.021620      1.012876      2.666667
50%        4.717391      5.304348      1.044817      1.064378      4.000000
75%        5.500000      6.086957      1.092370      1.193133      5.333333
max       10.000000     10.000000     10.000000     10.000000     10.000000

In [10]:
data.head()

     overall  potential  value_eur   wage_eur       age
0  10.000000   9.608696   4.618307   9.227468  7.000000
1   9.804348   9.413043   6.543654   7.939914  6.333333
2   9.608696   9.217391   3.087308   7.939914  7.666667
3   9.608696   9.217391   6.984396   7.939914  5.333333
4   9.608696   9.217391   6.822018  10.000000  5.666667

In [11]:
def random_centroids(data, k):
    centroids = []
    for i in range(k):
        centroid = data.apply(lambda x: float(x.sample().iloc[0]))
        centroids.append(centroid)
    return pd.concat(centroids, axis = 1)

In [12]:
centroids = random_centroids(data, 5)

In [13]:
centroids

                  0         1         2         3         4
overall    4.130435  3.934783  6.282609  4.130435  6.282609
potential  4.717391  6.282609  4.521739  4.521739  3.739130
value_eur  1.189797  1.019300  1.009325  1.301143  1.013501
wage_eur   2.171674  1.038627  1.115880  2.480687  1.090129
age        3.333333  3.666667  7.666667  3.333333  2.333333

In [14]:
distances = centroids.apply(lambda x: np.sqrt(((data - x) ** 2).sum(axis=1)))
distances

               0          1          2          3          4
0      11.548160  11.788588  10.907024  11.414727  12.217180
1      11.188334  11.380193  10.737855  11.063690  11.751515
2      10.291368  10.426441   9.165013  10.189790  10.988124
3      11.005059  11.260291  10.992059  10.870282  11.517176
4      12.194687  12.600952  12.240383  12.021858  12.857293
...          ...        ...        ...        ...        ...
19234   4.592181   5.577408   7.635924   4.557098   5.743547
19235   4.010629   4.738701   7.904456   4.038270   5.351424
19236   4.256830   5.147431   7.644063   4.246993   5.520433
19237   3.928663   4.603483   7.868051   3.966539   5.326329
19238   3.928663   4.603483   7.868051   3.966539   5.326329

[19165 rows x 5 columns]

In [15]:
def get_labels(data, centroids):
    distances = centroids.apply(lambda x: np.sqrt(((data - x) ** 2).sum(axis=1)))
    return distances.idxmin(axis=1)

In [16]:
labels = get_labels(data, centroids)

In [17]:
labels

0        2
1        2
2        2
3        3
4        3
        ..
19234    3
19235    0
19236    3
19237    0
19238    0
Length: 19165, dtype: int64

In [18]:
labels.value_counts()

1    8201
0    6718
2    3972
3     207
4      67
Name: count, dtype: int64

In [19]:
def new_centroids(data, labels, k):
    return data.groupby(labels).apply(lambda x: np.exp(np.log(x).mean())).T

In [20]:
from sklearn.decomposition import PCA 
import matplotlib.pyplot as plt
from IPython.display import clear_output

In [21]:
def plot_clusters(data, labels, centroids, iteration):
    pca = PCA(n_components = 2)
    data_2d = pca.fit_transform(data)
    centroids_2d = pca.transform(centroids.T)
    clear_output(wait=True)
    plt.title(f'Iteration{iteration}')
    plt.scatter(x=data_2d[:,0], y=data_2d[:,1], c=labels)
    plt.scatter(x=centroids_2d[:,0], y=centroids_2d[:,1])
    plt.show()

In [ ]:
max_iterations = 100
k = 3

centroids = random_centroids(data, k)
old_centroids = pd.DataFrame()
iteration = 1

while iteration < max_iterations and not centroids.equals(old_centroids):
    old_centroids = centroids
    
    labels = get_labels(data, centroids)
    centroids = new_centroids(data, labels, k)
    plot_clusters(data, labels, centroids, iteration)
    iteration += 1